<div class="healspread">
    {% for healer in l.healspread_sorted %}	
    <div class="healtable">
        <h6 class="{% if l.players[healer].team == 'Red' %}red{% else %}blu{% endif %}">{{ l.names[healer] }}</h6>
        <table class="table table-condensed log medstats">		
            <tr><td class="medtype">Healing</td><td class="medval"><strong>{{ l.players[healer].heal }}</strong> ({{ (l.players[healer].heal / l.info.total_length * 60)|int }}/m)</td></tr>
            <tr><td class="medtype">Charges</td><td class="medval">
            {% if l.players[healer].ubertypes %}
            <ul class="ubertypes unstyled">
            {% for medigun in l.players[healer].ubertypes %}
                <li>{{ medigun|capitalize }}: <strong>{{ l.players[healer].ubertypes[medigun] }}</strong> ({{ (l.players[healer].ubertypes[medigun] / l.players[healer].ubers * 100)|int }}%) </li>
            {% endfor %}
            </ul>
            {% else %}{{ l.players[healer].ubers }}{% endif %}
            </td></tr>			
            <tr><td class="medtype">Drops</td><td class="medval">{{ l.players[healer].drops }}</td></tr>	
        </table>
        <table class="table table-condensed log healsort">
        <thead>
            <tr><th class="players-name" data-lockedorder="asc">Heal Target</th><th>Class</th><th data-lockedorder="desc">Heals</th><th data-lockedorder="desc">%</th></tr>
        </thead>
        <tbody>
        {% for h in l.healspread[healer] %}{% if l.names[h] %}
        {% set percent = l.healspread[healer][h] / l.players[healer].heal * 100 %}
            <tr><td class="log-player-name">{{ l.names[h] }}</td><td>{{ classimage(l.players[h].class_stats[0].type, 1) }}</td><td>{{ l.healspread[healer][h] }}</td><td><strong>{{ percent|int }}</strong></td></tr>
        {% endif %}{% endfor %}
        </tbody>
        </table>
    </div>
    {% endfor %}
    </div>
    